<div class="ngdialog-message">
    <h2>geoRate</h2>
    <div>geoRate ist eine Webanwendung die das Kommentieren von per URL eingefügten Geodaten ermöglicht.
    </div>
    <ul class="mt">
        <li>geoRate ist mit viel <i class="fa fa-icon fa-heart"></i> in einem Studienprojekt an der UNI Münster enstanden</li>
        <li>diese Software ist<a href="https://github.com/mdragunski/Geosoft2-WS14-15-Gruppe5" target="_blank"> Open Source</a>.</li>
        <li>Kartendaten: <a href="https://www.openstreetmap.org/copyright" target="_blank">© OpenStreetMap-Mitwirkende</a> sowie <a href="http://www.esri.com/" target="_blank">© Esri</a>, i-cubed, USDA, USGS, AEX, GeoEye, Getmapping, Aerogrid, IGN, IGP, UPR-EGP, and the GIS User Community</li>
    </ul>
</div>
<div class="ngdialog-buttons mt">
    <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="next()">►</button>
</div>