<section data-ng-controller="HomeController">
    <div class="map">
        <leaflet height="100%" width="100%" center="center" layers="layers" controls="controls" defaults="defaults" markers="markers"></leaflet>

    </div>
    <div data-ng-controller="InfoController">
        <i class="fa fa-info" id="app_info_button" ng-click="open()" ng_dialog_class="ngdialog-theme-default"></i>
    </div>

    <div class="comments newComment" >
      URL: <input type="url" ng-model="comment.url" /><br />
      Comment: <input type="text" ng-model="comment.text" /><br />
      Rating:<br /> <rating ng-model="comment.rating"></rating><br />
      Coordinates:<br />
      Lattitude: <input type="number" ng-model="comment.georeference.geometry.coordinates[0]" /><br />
      Longitude: <input type="number" ng-model="comment.georeference.geometry.coordinates[1]" /><br />
      <button class="btn btn-default" ng-click="activateEvents()">Get Coordinates from Map</button><br />
      Timeframe:<br />
      Begin:<br />
      <p class="input-group">
        <input type="text" ng-model="comment.timereference.startdate" datepicker-popup="yyyy-MM-dd" is-open="pickerStartOpened"  close-text="Close" />
        <span class="input-group-btn">
          <button type="button" class="btn btn-default" ng-click="openDatepicker($event, 'startPicker')"><i class="glyphicon glyphicon-calendar"></i></button>
        </span>
      </p>
      End:<br />
      <p class="input-group">
        <input type="text" ng-model="comment.timereference.enddate" datepicker-popup="yyyy-MM-dd" is-open="pickerEndOpened"  close-text="Close" />
        <span class="input-group-btn">
          <button type="button" class="btn btn-default" ng-click="openDatepicker($event, 'endPicker')"><i class="glyphicon glyphicon-calendar"></i></button>
        </span>
      </p>
      Tags:<span class="tag" ng-repeat="tag in comment.tags">{{tag}}<i class="fa fa-times" ng-click="removeTag(tag)"></i></span><br />
      <input type="text" ng-model="tag_input" /> <button class="btn btn-default" ng-click="addTag(tag_input)">Add Tag</button><br />
      Additional Ressources:<br />
      <input type="url" ng-model="additionalressource_input" /><button class="btn btn-default" ng-click="addAdditionalRessource(additionalressource_input)">Add Additional Ressource</button><br />

      Comment: {{comment|json}}<br />
      {{authentication}}{{parser|json}}
      <br />


      <button class="btn btn-success" ng-click="submitComment()">Submit Comment</button><br />
        <button class="btn btn-success" ng-click="activateEvents()">Neu anlegen</button>

        <pre ng-model="coordinates">{{coordinates.lat}}</pre>
        <pre ng-model="coordinates">{{coordinates.lng}}</pre>


      </div>

</section>
