<section data-ng-controller="HomeController">
    <div class="map">
        <leaflet height="100%" width="100%" center="center" layers="layers" controls="controls" defaults="defaults" markers="markers"></leaflet>

    </div>
    <div data-ng-controller="InfoController">
        <i class="fa fa-info" id="app_info_button" ng-click="open()" ng_dialog_class="ngdialog-theme-default"></i>
    </div>

    <div class="comments" >
      <button class="btn btn-success" ng-show="!showNewComment" ng-click="showNewComment= !showNewComment">Add new Comment</button>
      <div class = "newComment" ng-show="showNewComment" ng-init="showNewComment=false">
        <h3>Create a new Comment</h3>
        <form name="newCommentForm">
          URL: <input type="url" ng-model="comment.url" ng-blur="parseUrl()"/><br />
          Comment: <input type="text" ng-model="comment.text" /><br />
          Rating:<br /> <rating ng-model="comment.rating"></rating><br />
          Coordinates:<br />
          Lattitude: <input type="number" ng-model="comment.georeference.geometry.coordinates[0]" /><br />
          Longitude: <input type="number" ng-model="comment.georeference.geometry.coordinates[1]" /><br />
          <button class="btn btn-default" ng-click="activateEvents()">Get Coordinates from Map</button><br />
          Timeframe:<br />
          Begin:<br />
          <p class="input-group">
            <input type="text" ng-model="comment.timereference.startdate" datepicker-popup="yyyy-MM-dd" is-open="pickerStartOpened"  close-text="Close" />
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="openDatepicker($event, 'startPicker')"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
          </p>
          End:<br />
          <p class="input-group">
            <input type="text" ng-model="comment.timereference.enddate" datepicker-popup="yyyy-MM-dd" is-open="pickerEndOpened"  close-text="Close" />
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="openDatepicker($event, 'endPicker')"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
          </p>
          Tags:<span class="tag" ng-repeat="tag in comment.tags">{{tag}}<i class="fa fa-times" ng-click="removeTag(tag)"></i></span><br />
          <input type="text" ng-model="tag_input" /> <button class="btn btn-default" ng-click="addTag(tag_input)">Add Tag</button><br />
          Additional Ressources:<br />
          <span  ng-repeat="ressource in comment.additionalressources">{{ressource|shortenUrl}}<i class="fa fa-times" ng-click="removeAdditionalRessource(ressource)"></i><br /></span>
          <input type="url" ng-model="additionalressource_input" /><button class="btn btn-default" ng-click="addAdditionalRessource(additionalressource_input)">Add Additional Ressource</button><br />

          Comment: {{comment|json}}<br />
          {{authentication}}{{parser|json}}
          <br />
          <alert ng-repeat="alert in alerts" type="{{alert.type}}" >{{alert.msg}}</alert>


          <button class="btn btn-success" ng-click="submitComment()">Submit Comment</button>
          <button class="btn btn-default">Cancel</button><br />

        </form>

      </div>
      <div id="search" ng-init="getComments()">
        <input id="search_input" ng-model="query">
        <div id="search_advanced" ng-show="showAdvancedSearch" ng-init="showAdvancedSearch=false">
          Rating:<rating ng-model="advSearch.rating"></rating><br />
          Location:<input ng-model="advSearch.location" /><br />
          Temporal:<br  />
          Begin:<br />
          <p class="input-group">
            <input type="text" ng-model="advSearch.startdate" datepicker-popup="yyyy-MM-dd" is-open="pickerSearchStartOpened"  close-text="Close" />
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="openDatepicker($event, 'searchStartPicker')"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
          </p>
          End:<br />
          <p class="input-group">
            <input type="text" ng-model="advSearch.enddate" datepicker-popup="yyyy-MM-dd" is-open="pickerSearchEndOpened"  close-text="Close" />
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="openDatepicker($event, 'searchEndPicker')"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
          </p>


        </div>
        <a ng-click="showAdvancedSearch= !showAdvancedSearch">Advanced Search</a>
        <div id="search_result">
          {{advSearch|json}}<br />
          <button class="btn btn-default" ng-click="filterComments()">Filter</button>
          {{filteredComments|json}}<br />
          Markers:{{markers|json}}



          <div class="comment" ng-repeat="comment in filteredComments | orderBy:creationdate:reverse">
            <a ng-href="/comment/{{comment._id}}">{{ comment.url| shortenUrl}}</a><a href={{comment.url}}><i class="fa fa-external-link"></i></a><i class="fa fa-clipboard"></i></br>

            <p>
              {{comment.text}}
            </p>
            Timereference:
            {{comment.username}} - {{comment.creationdate|date:medium}} - <rating ng-model=comment.rating readonly=true disabled></rating>

          </div>

        </div>

      </div>
      </div>

</section>
