<section data-ng-controller="HomeController">
	<div class="map">
		<leaflet height="100%" width="100%" center="center" layers="layers" controls="controls" defaults="defaults" markers="markers"></leaflet>
	</div>
	<div class="comments" ng-controller="SearchController">
		<input id="search_input" ng-model="query">
		<div id="search_advanced" ng-show="showAdvancedSearch" ng-init="showAdvancedSearch=false">
			Rating:<rating ng-model="advance_rating"></rating><br />
			Location:<input ng-model="advanced_location" /><br />
			Temporal:<input ng-model="advanced_temporal" /><br />
			<p class="input-group">
				<input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="advanced_startdate" is-open="opened"  datepicker-options="dateOptions" date-disabled="disabled(date, mode)"  close-text="Close" />
				<span class="input-group-btn">
					<button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
				</span>
			</p>



		</div>
		<a ng-click="showAdvancedSearch= !showAdvancedSearch">Advanced Search</a>
		<div id="search_result">

			<div class="comment" ng-repeat="comment in comments | filter:query | orderBy:creationdate:reverse">
				<a href={{comment.url}}>{{comment.url}}</a></br>

				<p>
					{{comment.text}}
				</p>
				{{comment.username}} - {{comment.creationdate|date:medium}} - <rating ng-model=comment.rating readonly=true disabled></rating>

			</div>

		</div>

	</div>

</section>
